.continue {
  display: flex;
  height: calc(85vh - 2 * var(--default-page-padding));
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue__button {
  width: 135px;
  height: 80px;
  font-size: 1.5rem;
}

.continue__button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
