.game {
  height: var(--full-height);
  width: calc(100vw - 2 * var(--default-page-padding));
}

.game__next-button {
  height: 30px;
  font-size: 1rem;
  margin-top: 10px;
  padding: 0;
}

.round__stats {
  border: 0.8px solid;
  border-radius: 8px;
  font-size: 0.75rem;
  padding: 3px 8px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  margin-bottom: 5px;
}

.round__stats-item {
  white-space: nowrap;
}

.round__stats-item_t1 {
  justify-self: flex-start;
}

.round__stats-item_t2 {
  justify-self: flex-end;
}
