.home {
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: var(--full-height);
}

.home__title {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.home__subtitle {
  margin-bottom: 50px;
  font-weight: 400;
}
