.setup {
  height: var(--full-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setup__content-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}

.setup__next-back-container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.setup__select-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
