.win {
  height: var(--full-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__score {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.game__winner {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
