.trivia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
}

.trivia__title {
  font-size: 1.5rem;
}

.trivia__choice-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.trivia__choice {
  background: transparent;

  color: black;

  border-radius: 8px;
  border: 0.8px solid #4d5b9e;
  min-height: 50px;
  padding: 8px;
  font-size: 1rem;
}

.trivia__choice_correct {
  background: #94d7a2;
}

.trivia__choice_incorrect {
  background: #f8bcbc;
}

.trivia__choice_faded {
  opacity: 0.35;
}
