.trivia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trivia__title {
  margin-bottom: 50px;
}

.trivia__choice-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media screen and (orientation: landscape) {
  .trivia__choice-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.trivia__choice {
  background: transparent;

  border-radius: 8px;
  border: 0.8px solid #4d5b9e;
  min-width: 64px;
  padding: 16px 16px;

  font-size: 1.25rem;
}
